doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Main Page
    script(type="text/javascript" src="/static/blog.js")
    link(rel="stylesheet" href="/static/blog.css")
  body
    div.topBar
      h1 Post Board
      p.
        This is made using the Pug.js Templating engine and Express.js.
      h2 #{name}
      p.
        feel free to post random dumb stuff <3
      div.formHolder
        form(method="POST" action="./post")
          input(required maxlength="160" type="text" name="bodyText" placeholder="Thoughts")

          div.buttonHolder
            button(type="submit")
              div submit
    div.postContainer
      each id in data 
        div.post
          p.userName= id['user']
          p= id['body']
    