doctype html
html
  head
    meta(charset='UTF-8')
    title Main Page
    script(type="text/javascript" src="/static/blog.js")
    link(rel="stylesheet" href="/static/blog.css")
  body
    p Enter The Secret Key to clear!
    form(method='POST' action='https://StarryWirelessViruses.joethegetitguy.repl.co/post/erase')  
      input(type='text' name='givenkey')