doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Register 
    link(rel="stylesheet" href="/static/login.css")
  body
    div.titleHolder
      h1 Register
    div.formHolder
      div.link
        a(href="./")
          div Already Registered? Login.
      form(method="POST" action="/register/submit")
        div
          input(type='text' name='username' placeholder="username" required)
          input(type='password' name='password' placeholder="password" required)
        div.buttonHolder
          button(type='submit')
            div Register