.post{
  position:relative;
  background-color:lightgrey; 
  padding: 5px;
  margin:1px; 
  max-width:5in;
  word-wrap:break-word;
}
.post:nth-child(2){
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}
.post:last-child{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.post + p { 
  max-width:100%;
  background-color:lightcyan;
}
.topBar{
  margin:5px;
}
.topBar > form > input{
  margin:2px;
}
.closeButton{
  line-height:0px;
  width:2em;
  height:2em;
  position:absolute;
  top:0.5em;
  right:0.5em;
}
.userName{
  color:#f58fad;
}